Calista_AI.json
{
  "name": "Calista AI",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=Nama: Calista\nPeran: Asisten Virtual Lab Kalibrasi Telkom\nSifat: Ramah, santai, seperti manusia, singkat dan jelas. Gunakan emoji 😊\n\n📌 Instruksi Umum:\nJawab pertanyaan pelanggan dengan ramah dan profesional. Gunakan bahasa sehari-hari dan emoji.\n\n🔍 Ruang Lingkup: Impedansi, Kelistrikan, Time & Frekuensi, Fiber Optic\n\n🏢 Profil: PT Telkom Indonesia memiliki 4 Lab Kalibrasi (Jakarta, Surabaya, Makassar, Medan). Terakreditasi KAN (LK-016-IDN, ISO/IEC 17025:2017).\n\n💬 Alur Percakapan:\n\n1️⃣ Kalibrasi Alat Ukur:\n- Tanya detail alat (Nama, Part Number, Merk, Lokasi Lab)\n- Cek dengan alat_ukur, ruang_lingkup, search\n- Jika bisa: Tawarkan onsite/inhouse\n- Inhouse: Arahkan ke lab/form booking\n- Onsite: Informasikan biaya tambahan, arahkan ke form\n\n2️⃣ Tarif: Arahkan ke CS via form booking\n\n3️⃣ Tracking Order: Minta Unit ID, gunakan tracking_order\n\n4️⃣ Invoice: Minta Unit ID, gunakan invoice\n\n5️⃣ Keluhan/Sertifikat: Arahkan ke PIC\n\n6️⃣ Bukti Pembayaran: Arahkan ke PIC\n\n📍 Info Lab: Jakarta (Rani: +62 812-1321-2203), Medan (Rini: +62 812-6046-080), Surabaya (Cak Wanto: +62 813-3392-7237), Makassar (Ina: +62 813-4211-6009)\n\n🛠 Tools: alat_ukur, ruang_lingkup, search, tracking_order, invoice"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [2200, 180],
      "id": "78c32d17-4a84-4834-8142-bf4fe1fe7cb0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2040,
        400
      ],
      "id": "1d61b1e0-69a9-4dd0-b49e-3ba9b61d82c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x1s1EjTVeCB4VWLE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3260,
        200
      ],
      "id": "00b8052d-0b05-4c27-938a-9cc6e04997fe",
      "name": "WAHA",
      "credentials": {
        "wahaApi": {
          "id": "SsPSdX7nDucbXnSh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "91ed20d5-653b-42dd-931d-29466b689b37",
              "leftValue": "={{ $json.payload.from.split('@')[1] }}",
              "rightValue": "c.us",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        100
      ],
      "id": "6f413622-326b-4536-8fd4-de466024d868",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "messageId": "={{ $('WAHA Trigger').item.json.payload.id }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        560,
        -100
      ],
      "id": "5b90c1f8-6db9-4311-8577-51a786f4c40c",
      "name": "WAHA1",
      "credentials": {
        "wahaApi": {
          "id": "SsPSdX7nDucbXnSh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3829bac2-47a3-4e9d-8c88-4af1751d58aa",
              "leftValue": "={{ $('WAHA Trigger').item.json.payload.hasMedia }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        0
      ],
      "id": "ca28a37f-40a4-4280-a94a-3c5e7f66a0cd",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e25e4d6-c089-4e19-a261-f7ebdfd96243",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1400,
        -20
      ],
      "id": "a87d1d29-059e-496d-8092-8eb92ef4a3c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1760,
        140
      ],
      "id": "2b7f7bf4-fe01-478d-9b89-fafe81861c01",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4-vision-preview",
          "mode": "list",
          "cachedResultName": "GPT-4-Vision"
        },
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1180,
        -20
      ],
      "id": "af25c6f6-1c7f-4677-a9f9-b162e6fe37c6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "x1s1EjTVeCB4VWLE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('WAHA Trigger').item.json.payload.media.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -22.725676447626565
      ],
      "id": "b125b4c4-1cad-44b2-b4da-653737d6a743",
      "name": "HTTP Request",
      "credentials": {
        "wahaApi": {
          "id": "SsPSdX7nDucbXnSh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8457bec-6a63-45ef-b611-67d47bb231bf",
              "name": "=content",
              "value": "={{ $('WAHA Trigger').item.json.payload.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        100
      ],
      "id": "fada36c4-c034-4922-a061-05e5f9d04887",
      "name": "Text",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        2560,
        160
      ],
      "id": "56b9a24e-c705-48ac-9d80-e38e93f16449",
      "name": "WAHA2",
      "credentials": {
        "wahaApi": {
          "id": "SsPSdX7nDucbXnSh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 3) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2780,
        180
      ],
      "id": "6b4ee2b5-26fc-46c1-bb85-4dac97eae616",
      "name": "Wait",
      "webhookId": "6f029866-e84d-4a72-8317-ba47e193cb71"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Stop Typing",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        3000,
        180
      ],
      "id": "4d10b6c8-a561-4a54-9b3f-08148c0b015a",
      "name": "WAHA3",
      "credentials": {
        "wahaApi": {
          "id": "SsPSdX7nDucbXnSh",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        0,
        0
      ],
      "id": "61a49722-dc13-417b-836f-cfe5886a6656",
      "name": "WAHA Trigger",
      "webhookId": "c9691a18-d903-442b-a4b3-c0718f360532"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818",
          "mode": "list",
          "cachedResultName": "RAG Calista AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 375179395,
          "mode": "list",
          "cachedResultName": "alat_ukur",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818/edit#gid=375179395"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2220,
        460
      ],
      "id": "7555b7d4-04be-4404-8fd4-4651e5062ddc",
      "name": "alat_ukur",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y1YfRsPivhET1TYA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818",
          "mode": "list",
          "cachedResultName": "RAG Calista AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ruanglingkup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ftynsBiLraI00iBhkXDO40rTzwTm81WK5XKifFcW818/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2340,
        500
      ],
      "id": "bb079fa9-415b-40e8-bf6b-312f21d84729",
      "name": "ruang_lingkup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y1YfRsPivhET1TYA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "google_domain": "google.com"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2680,
        400
      ],
      "id": "5055fd03-4b85-4e56-98ff-8f0f4d004de0",
      "name": "search",
      "credentials": {
        "serpApi": {
          "id": "b45aVRvYiMIJZYV7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0",
          "mode": "list",
          "cachedResultName": "Monitoring Order Kalibrasi 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 809809772,
          "mode": "list",
          "cachedResultName": "TRACKING",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0/edit#gid=809809772"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2440,
        480
      ],
      "id": "4ff62814-20a2-4539-8dcb-941fd208d455",
      "name": "tracking_order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VJ49o5FCM2sJz39M",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0",
          "mode": "list",
          "cachedResultName": "Monitoring Order Kalibrasi 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 774305372,
          "mode": "list",
          "cachedResultName": "Invoice Raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ja--J1-dAAr_bupSYHOmLRR_A19eOeKyUXVHpTPDoK0/edit#gid=774305372"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2560,
        460
      ],
      "id": "822c4ccf-3cb1-4cd4-b803-2a66b623e06e",
      "name": "invoice",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VJ49o5FCM2sJz39M",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If').item.json.payload.from }}",
        "windowSize": 5
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2120,
        500
      ],
      "id": "0fd929de-e85e-4a73-8218-2c04156a531a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WAHA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "WAHA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA3": {
      "main": [
        [
          {
            "node": "WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "alat_ukur": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ruang_lingkup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tracking_order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "invoice": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fdbc069-2df6-4ab2-a88a-fdc33ba40aac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9a4f2eee5a8dc8a07fca898047a8b8168c446b22844f1cbd2d8ebfdeb6fc7be"
  },
  "id": "6VNmXelKBeOmVmIR",
  "tags": []
}